
/* APP CSS */

/*
== APP CONTAINER ==
*/

main{
    width: 100%;
}

.appWrapper{
    width: 100%;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 150px;
}



.app{
    border-radius: 55px;
    width: 45%;
    min-width: 950px;
    min-width: 800px;
    min-height: 400px;
    background-color: var(--appBackground);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
}

/*
== APP HEADER ==
*/

.appHeader{
    margin-top: 70px;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    font-size: 45px;
    color: var(--primary);
    font-weight: 500;
    letter-spacing: 1px;
}

h2{
    margin-top: 2px;
    font-size: 20px;
    color: var(--secondary);
    font-weight: 200;
    letter-spacing: 0.3px;

}


/* 
== APP FORM / INPUT / SUBMIT ==
*/
 
.formWrapper{
    width: 100%;
    margin-top: 45px;
    display: flex;
    justify-content: center;
}

.todoInput{
    position: relative;
    left: 40px;
    display: flex;
    padding: 0px 90px;
    width: 100%;
}

.textInput{
    border: none;
    padding: 0px 20px;
    padding-right: 100px;
    height: 52px;
    border-radius: 16px;
    font-size: 19px;
    color: #007BFF;
    width: 100%;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.08) ;
}

.textInput::placeholder{
    color: var(--placeholder);
}

.textInput:focus{
    outline: none;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.15) ;
}

.textInput:focus::placeholder{
    color: transparent;
}

.submitInput{
    cursor: pointer;
    color: var(--primary);
    font-size: 19px;
    background-color: transparent;
    border: none;
    position: relative;
    left: -100px;
}

.submitInput:hover{
    color: #0059b8;
}

/* 
== APP LINE == 
*/

.lineWrapper{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 100px;
}

.line{
    border-bottom: 1px solid var(--progress);
    width: 100%;
}


/* 
== TASKS AND SETTINGS ==
*/

.taskWrapper{
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 0px 100px;
    width: 100%;
    
}

.tasks{
    margin: 10px 0px;
    position: relative;
    display: flex;
    width: 100%;
}

.taskText{
    color: var(--primary);
    font-size: 20px;
    padding-left: 20px;
}

.task{
    padding: 10px 0px;
    flex: 1 100%;
    flex-direction: row;
    display: flex;
    align-items: center;
    position: relative;
}


.rightImg{
    flex: 2 10%;
    display: none;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
}



.settingsIcon{
    z-index: 100;
    position: relative;
    left: 10px;
    padding: 0px 10px;
    cursor: pointer;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.settingIconImg {
    display: flex;
}

.cancelIconImg{
    display: none;
}



/*
Settings
*/

.settingWrapper{
    /* background-color: #0059b8; */
    padding-top: 50px;
    display: none;
    position: absolute;
    right: -170px;
    top: 0px;
}

.settingBlock{
    background-color: rgb(250, 250, 250,0.70);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 140px;
    border-radius: 15px;
    justify-content: space-between;
    padding: 4px;
}

.settingText{
    padding-left: 19px;
}

li{
    cursor: pointer;
    display:flex;
    align-items: center;
    font-size: 18px;
    color: var(--text);
    list-style: none;
    padding: 10px 15px;
    border-radius: 10px;
}

li:hover{

    background-color: rgba(217, 217, 217, 0.4);


}

.deleteIcon{
    position: relative;
    margin-left: 5px;
}


/*
Checkbox
*/



.checkIcon{
    display: none;

    position: relative;
    left: 5px;
    bottom: 0px;
}

.checkbox{
    cursor: pointer;
    position: relative;
    display: block;
    width: 28px;
    height: 28px;
    border-radius: 4px;
    border: 2px solid var(--primary);
    background-color: transparent;
}





/* 
== APP FOOTER ==
*/



.appFooter{
    margin-bottom: 10px;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 70px;
}

.deleteAll{
    cursor: pointer;
    font-weight: 100;
    height: 47px;
    padding: 0px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--delete);
    font-size: 18px;
    border-radius: 13px;
    color: white;
    border: 10px 10px;
    
}

.deleteAll:hover{
    border: 1px solid blue;
    background-color: transparent;
    transition: 0.2s;
    color: var(--delete);

}


.taskToDo{
    margin-top: 13px;
    margin-left: 20px;
    font-size: 18px;
    color: var(--text);
}

.taskRemain{
    font-size: 18px;
    color: var(--primary);
    font-weight: 500;
}

.hoverForSettings{
    background-color: rgba(0, 0, 255, 0.468);
}